@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Defaults */
  --background: #fdfbf7;
  --foreground: #3e2723;
}

[class="dark"] {
  /* Dark Mode Defaults */
  --background: #0a0f0d;
  --foreground: #e8e4d9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Kaydırma çubuğunu (Scrollbar) güzelleştirelim */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0f0d;
}

::-webkit-scrollbar-thumb {
  background: #3e2723; /* Koyu Ahşap Rengi */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d4037;
}