@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 232, 228, 217;
  --background-start-rgb: 10, 15, 13;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    no-repeat min-h-screen;
}

/* Kaydırma çubuğunu (Scrollbar) güzelleştirelim */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0f0d;
}

::-webkit-scrollbar-thumb {
  background: #3e2723; /* Koyu Ahşap Rengi */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d4037;
}